html, body {
    height: 100%;
  width: 100%;
  background-color: #1C0F13;
}

.welc {
  text-align: center;
  color: #B7CECE;
}

.wel {
  text-align: center;
  color:#AFBFC0;
}

.text {
   text-align: center;
    color:#AFBFC0;
}

.list {
  color: #6E7E85;
}

.banner {
  text-align: center;
  color: #BBBAC6;
}